tensorflow
opencv-python
matplotlib
numpy
scikit-learn
torch
torchvision
seaborn
tqdm
Pillow
pandas
patool
# unrar #разблокировать при распаковке файлов формата .rar
# winrar
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
aiofiles
python-jose[cryptography]
python-magic
pytest
pytest-asyncio
httpx
prometheus-client
sqlalchemy
asyncpg
alembic
bcrypt
passlib[bcrypt]
psycopg2-binary
sqlalchemy
asyncpg
bcrypt